h4 {
    /* font-weight: normal; */
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

.contCard {
    margin: 5px;
    border: solid rgb(202, 198, 198) 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blockchainWork {
    border-top: rgb(51, 138, 153) 2px solid;
    padding: 5px;
    margin-top: 5px;
}

.firestoreWork {
    border-top: #FFA000 2px solid;
    padding: 5px;
    margin-top: 5px;
}

mat-label {
    font-weight: bold;
    width: 20%;
}

mat-icon {
    margin-right: 5px;
}

.col-sm-11{
    padding:0px;
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.col-sm-12{
    margin-top: 2px;
    margin-bottom: 2px;
}

.contCardFs {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(202, 198, 198)
}

.col-sm-1{
    padding:0px;
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.contCard {
    border: solid rgb(202, 198, 198) 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

mat-icon {
    display: inline-flex;
    vertical-align: middle;
}

.firestoreLicense{
    border-color: #FFA000;
}

.blockchainLicense{
    border-color: rgb(51, 138, 153);
}