<div *ngIf="user as user; else loading" class="container">
    <mat-card>
        <h4>Profile</h4>

        <div class="row">
            <mat-list class="col-sm-6">
                <mat-list-item *ngIf="user.aliasName">
                    <mat-label>Alias: </mat-label>
                    {{user.aliasName}}
                </mat-list-item>
                <mat-list-item>
                    <mat-label>Email: </mat-label>
                    {{user.email}}
                </mat-list-item>
                <mat-list-item>
                    <mat-label>Eth.adr: </mat-label> {{user.ethereumAddress}}</mat-list-item>
            </mat-list>
            <mat-list class="col-sm-6">
                <mat-list-item>
                    <mat-label>First name: </mat-label> {{user.firstName}}</mat-list-item>
                <mat-list-item>
                    <mat-label>Last name: </mat-label> {{user.lastName}}</mat-list-item>
                <mat-list-item>
                    <mat-label>User role: </mat-label> {{user.role}}</mat-list-item>
            </mat-list>
        </div>

        <div *ngIf="purchases?.length > 0">
            <mat-divider></mat-divider>
            <br>
            <h4>Purhcases</h4>
            <mat-accordion>
                <div *ngFor="let p of purchases">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{p.transactionHash}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{p.timeOfPurchase*1000 | date:'full'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row" style="text-align: center">
                            <div class="col-sm-4">
                                <mat-icon>filter_none</mat-icon>
                                {{p.blockNumber}}
                            </div>
                            <div class="col-sm-4">
                                <b>WID</b> {{p.workId}}
                            </div>
                            <div class="col-sm-4">
                                <b>LPID</b> {{p.licenseProfileId}}
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>

        <br>


        <div *ngIf="unapprovedWorks?.length > 0 && user.role == 'right owner'">
            <mat-divider></mat-divider>
            <br>
            <h4>Works missing your approval</h4>
            <mat-accordion>
                <div *ngFor="let work of unapprovedWorks">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <a routerLink="/work/{{work.id}}">Work {{work.id}} - {{work.fsWork.title}}</a>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <h2 style="font-size: 15px; color: #FFA000; text-transform: uppercase">Firestore</h2>
                        <div class="firestoreWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span>
                                        <mat-icon>fingerprint</mat-icon>
                                        {{work.fsWork.fingerprint}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>grade</mat-icon>
                                    {{work.fsWork.title}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>description</mat-icon>
                                    {{work.fsWork.description}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>music_note</mat-icon>
                                    {{work.fsWork.typeOfWork}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>cloud_upload</mat-icon>
                                    {{work.fsWork.uploadedBy}}
                                </div>
                                <div class="col-sm-12" *ngIf="!work.bcWork.approvedStatus" style="color: rgb(230, 5, 5); font-style: italic">
                                    <mat-icon>warning</mat-icon>
                                    Suggested contributors and splits
                                </div>
                                <div class="col-sm-6" *ngFor="let contributor of work.fsWork.contributors">
                                    <mat-card class="contCard">
                                        <div class="row">
                                            <div class="col-sm-6 contCardFs" style="padding: 0px; border-width: 1px">
                                                <mat-icon>face</mat-icon>
                                                {{contributor.name}}
                                            </div>
                                            <div class="col-sm-6 contCardFs" style="padding: 0px; border-width: 1px">
                                                <mat-icon>assignment_ind</mat-icon>
                                                {{contributor.role}}
                                            </div>
                                            <div class="col-sm-11">
                                                <mat-icon>person</mat-icon>
                                                {{contributor.address}}
                                            </div>
                                            <div class="col-sm-1">
                                                <mat-icon style="color: rgb(212, 199, 14); margin-right: 0px">fiber_manual_record</mat-icon>
                                                {{(contributor.share)/10}}
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                            <br>
                            <a href="{{work.fsWork.downloadUrl}}" class="btn btn-secondary btn-sm" role="button" target="_blank">Review Work File</a>
                        </div>
                        <br>
                        <h2 style="font-size: 15px; color: rgb(51, 138, 153); text-transform: uppercase">Blockchain</h2>
                        <div class="blockchainWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-icon>fingerprint</mat-icon>{{work.bcWork.fingerprint}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>date_range</mat-icon>{{work.bcWork.birthTime | date:'full'}}
                                </div>
                                <div class="col-sm-12" *ngIf="work.bcWork.approvedStatus">
                                    <mat-icon>check</mat-icon>Approved by all contributors
                                </div>
                                <div class="col-sm-12" *ngIf="!work.bcWork.approvedStatus">
                                    <mat-icon>close</mat-icon>Not Approved by all contributors
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" *ngFor="let contributor of work.bcWork.contributors">
                                    <mat-card class="contCard">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <mat-icon>person</mat-icon>
                                                {{contributor.address}}
                                            </div>
                                            <div class="col-sm-1">
                                                <mat-icon style="color: rgb(212, 199, 14); margin-right: 0px">fiber_manual_record</mat-icon>
                                                {{contributor.split}}
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>


                        <br>
                        <button class="button is-medium is-primary" (click)="onApproveWorkButtonClick(work.id)">Approve Work</button>
                        <p *ngIf="workApprovedByUser">Work approved</p>

                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>

        <br>
        <div *ngIf="approvedWorks?.length > 0">
            <mat-divider></mat-divider>
            <br>
            <h4>Works you have approved</h4>
            <mat-accordion>
                <div *ngFor="let work of approvedWorks">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <a routerLink="/work/{{work.id}}">Work {{work.id}} - {{work.fsWork.title}}</a>
                            </mat-panel-title>
                            <mat-panel-description *ngIf="work.balance > 0">
                                Balance: {{work.balance}} ETH
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <h2 style="font-size: 15px; color: #FFA000; text-transform: uppercase">Firestore</h2>
                        <div class="firestoreWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span>
                                        <mat-icon>fingerprint</mat-icon>
                                        {{work.fsWork.fingerprint}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>grade</mat-icon>
                                    {{work.fsWork.title}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>description</mat-icon>
                                    {{work.fsWork.description}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>music_note</mat-icon>
                                    {{work.fsWork.typeOfWork}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>cloud_upload</mat-icon>
                                    {{work.fsWork.uploadedBy}}
                                </div>
                                <div class="col-sm-12" *ngIf="!work.bcWork.approvedStatus" style="color: rgb(230, 5, 5); font-style: italic">
                                    <mat-icon>warning</mat-icon>
                                    Suggested contributors and splits
                                </div>
                                <div class="col-sm-6" *ngFor="let contributor of work.fsWork.contributors">
                                    <mat-card class="contCard">
                                        <div class="row">
                                            <div class="col-sm-6 contCardFs" style="padding: 0px; border-width: 1px">
                                                <mat-icon>face</mat-icon>
                                                {{contributor.name}}
                                            </div>
                                            <div class="col-sm-6 contCardFs" style="padding: 0px; border-width: 1px">
                                                <mat-icon>assignment_ind</mat-icon>
                                                {{contributor.role}}
                                            </div>
                                            <div class="col-sm-11">
                                                <mat-icon>person</mat-icon>
                                                {{contributor.address}}
                                            </div>
                                            <div class="col-sm-1">
                                                <mat-icon style="color: rgb(212, 199, 14); margin-right: 0px">fiber_manual_record</mat-icon>
                                                {{(contributor.share)/10}}
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h2 style="font-size: 15px; color: rgb(51, 138, 153); text-transform: uppercase">Blockchain</h2>
                        <div class="blockchainWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-icon>fingerprint</mat-icon>{{work.bcWork.fingerprint}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>date_range</mat-icon>{{work.bcWork.birthTime | date:'full'}}
                                </div>
                                <div class="col-sm-12" *ngIf="work.bcWork.approvedStatus">
                                    <mat-icon>check</mat-icon>Approved by all contributors
                                </div>
                                <div class="col-sm-12" *ngIf="!work.bcWork.approvedStatus">
                                    <mat-icon>close</mat-icon>Not Approved by all contributors
                                </div>


                            </div>


                            <div class="row">
                                <div class="col-sm-6" *ngFor="let contributor of work.bcWork.contributors">
                                    <mat-card class="contCard">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <mat-icon>person</mat-icon>
                                                {{contributor.address}}
                                            </div>
                                            <div class="col-sm-1">
                                                <mat-icon style="color: rgb(212, 199, 14); margin-right: 0px">fiber_manual_record</mat-icon>
                                                {{contributor.split}}
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="margin: inherit;">
                            <a href="{{work.fsWork.downloadUrl}}" class="btn btn-secondary btn-sm" role="button" target="_blank" style="margin-right: 5px">View Work File</a>
                            <div *ngIf="work.bcWork.approvedStatus">
                                <a routerLink="/createLicense/{{work.id}}" class="btn btn-secondary btn-sm" role="button" style="margin-right: 5px">Create License Profile</a>
                            </div>
                            <div *ngIf="work.balance > 0" class="btn btn-secondary btn-sm" role="button" (click)="onWithdrawFromWorkId(work.id)">Withdraw Balance
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>

        <br>
        <div *ngIf="unapprovedLicenseProfiles?.length > 0">
            <mat-divider></mat-divider>
            <br>
            <h4>License profiles missing your approval</h4>
            <mat-accordion>
                <div *ngFor="let lp of unapprovedLicenseProfiles">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Profile {{lp.id}} - Work {{lp.fsLicenseProfile.workId}} - {{lp.fsLicenseProfile.typeOfLicense}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <h2 style="font-size: 15px; color: #FFA000; text-transform: uppercase">Firestore</h2>
                        <div class="firestoreWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-icon>fingerprint</mat-icon>
                                    {{lp.fsLicenseProfile.fingerprint}}
                                </div>
                                <div class="col-sm-12">
                                    <b>WID</b> {{lp.fsLicenseProfile.workId}}
                                </div>
                                <div class="col-sm-12">
                                    <b>ETH</b> {{(lp.fsLicenseProfile.price)/1000000000000000000}}
                                </div>
                                <div class="col-sm-12">
                                    <b>LPID</b> {{lp.fsLicenseProfile.licenseProfileId}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>description</mat-icon>
                                    {{lp.fsLicenseProfile.description}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>bookmark</mat-icon>
                                    {{lp.fsLicenseProfile.typeOfLicense}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>cloud_upload</mat-icon>
                                    {{lp.fsLicenseProfile.uploadedBy}}
                                </div>
                                <div class="col-sm-12" *ngIf="!lp.bcLicenseProfile.activatedStatus" style="color: rgb(230, 5, 5); font-style: italic">
                                    <mat-icon>warning</mat-icon>
                                    Suggested license profile
                                </div>
                            </div>
                            <br>
                            <a href="{{lp.fsLicenseProfile.downloadUrl}}" class="btn btn-secondary btn-sm" role="button" target="_blank">Review License Profile File</a>
                        </div>
                        <br>
                        <h2 style="font-size: 15px; color: rgb(51, 138, 153); text-transform: uppercase">Blockchain</h2>
                        <div class="blockchainWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-icon>fingerprint</mat-icon>
                                    {{lp.bcLicenseProfile.fingerprint}}
                                </div>
                                <div class="col-sm-12">
                                    <b>WID</b> {{lp.bcLicenseProfile.workId}}
                                </div>
                                <div class="col-sm-12">
                                    <b>ETH</b> {{(lp.bcLicenseProfile.price)/1000000000000000000}}
                                </div>
                                <div class="col-sm-12" *ngIf="lp.bcLicenseProfile.activatedStatus">
                                    <mat-icon>check</mat-icon>
                                    Approved by over 50% of token holders
                                </div>
                                <div class="col-sm-12" *ngIf="!lp.bcLicenseProfile.activatedStatus">
                                    <mat-icon>close</mat-icon>
                                    Not approved by over 50% of token holders
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>date_range</mat-icon>
                                    {{lp.bcLicenseProfile.birthTime | date:'full'}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <button class="button is-medium is-primary" (click)="onActivateLicensePreofileButtonClick(lp.id)">Activate License Profile</button>


                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>

        <br>

        <div *ngIf="approvedLicenseProfiles?.length > 0">
            <mat-divider></mat-divider>
            <br>
            <h4>License profiles you have approved</h4>
            <mat-accordion>
                <div *ngFor="let lp of approvedLicenseProfiles">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Profile {{lp.id}} - Work {{lp.fsLicenseProfile.workId}} - {{lp.fsLicenseProfile.typeOfLicense}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <h2 style="font-size: 15px; color: #FFA000; text-transform: uppercase">Firestore</h2>
                        <div class="firestoreWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-icon>fingerprint</mat-icon>
                                    {{lp.fsLicenseProfile.fingerprint}}
                                </div>
                                <div class="col-sm-12">
                                    <b>WID</b> {{lp.fsLicenseProfile.workId}}
                                </div>
                                <div class="col-sm-12">
                                    <b>ETH</b> {{(lp.fsLicenseProfile.price)/1000000000000000000}}
                                </div>
                                <div class="col-sm-12">
                                    <b>LPID</b> {{lp.fsLicenseProfile.licenseProfileId}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>description</mat-icon>
                                    {{lp.fsLicenseProfile.description}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>bookmark</mat-icon>
                                    {{lp.fsLicenseProfile.typeOfLicense}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>cloud_upload</mat-icon>
                                    {{lp.fsLicenseProfile.uploadedBy}}
                                </div>
                                <div class="col-sm-12" *ngIf="!lp.bcLicenseProfile.activatedStatus" style="color: rgb(230, 5, 5); font-style: italic">
                                    <mat-icon>warning</mat-icon>
                                    Suggested license profile
                                </div>
                            </div>
                        </div>
                        <br>
                        <h2 style="font-size: 15px; color: rgb(51, 138, 153); text-transform: uppercase">Blockchain</h2>
                        <div class="blockchainWork">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-icon>fingerprint</mat-icon>{{lp.bcLicenseProfile.fingerprint}}
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>insert_drive_file</mat-icon>{{lp.bcLicenseProfile.workId}}
                                </div>
                                <div class="col-sm-12">
                                    <b>ETH</b> {{(lp.bcLicenseProfile.price)/1000000000000000000}}
                                </div>
                                <div class="col-sm-12" *ngIf="lp.bcLicenseProfile.activatedStatus">
                                    <mat-icon>check</mat-icon>Approved by over 50% of token holders
                                </div>
                                <div class="col-sm-12" *ngIf="!lp.bcLicenseProfile.activatedStatus">
                                    <mat-icon>close</mat-icon>Not approved by over 50% of token holders
                                </div>
                                <div class="col-sm-12">
                                    <mat-icon>date_range</mat-icon>{{lp.bcLicenseProfile.birthTime | date:'full'}}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="margin: inherit;">
                            <a href="{{lp.fsLicenseProfile.downloadUrl}}" class="btn btn-secondary btn-sm" role="button" target="_blank" style="margin-right: 5px">View License Profile File</a>
                            <button style="background-color:rgb(230, 5, 5); border-color: rgb(230, 5, 5)" class="btn btn-primary btn-sm" (click)="onDeactivateLicensePreofileButtonClick(lp.id)">Deactivate License Profile</button>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>





    </mat-card>
</div>
<ng-template #loading>
    <mat-spinner style="margin:0 auto; margin-top: 40px"></mat-spinner>
</ng-template>