<div class="container">
        <h3>User Login</h3>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
                    </mat-form-field>
                </div>
            </div>
            <button style="border: 1px solid grey; margin-right: 10px;" type="submit" [disabled]="!formData.valid" mat-button>Log in</button>
            <a routerLink="/signup" class="alc">Don't have an account?</a>
        </form>
</div>