h1 {
  font-size: 2.8em;
  color: white;
  font-weight: normal;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

button:focus {outline:0;}

a.active {
  color: black;
  background-color: white;
}

.row {
  display: flex;  /* make the row a flex container */
  align-items: center; 
}