<section style="background-color: rgb(63, 68, 150)">
      <div class="container">
        <h1 class="title is-1">
          Blockchain for copyrights
        </h1>
        <h2 *ngIf="showAdminWelcomeMessage && signedIn">welcome lord</h2>
      </div>
  <nav class="container" style="padding-bottom: 10px;">
  <a class="routeButtons" routerLink='/home' routerLinkActive="active">Home</a>
  <a class="routeButtons" routerLink='/createWork' *ngIf="showCreateWorkButton && signedIn" routerLinkActive="active">Create work</a>
  <a class="routeButtons" routerLink='/login' *ngIf="!signedIn" routerLinkActive="active">Sign in</a>
  <a class="routeButtons" routerLink='/profile' *ngIf="signedIn" routerLinkActive="active">Profile</a>
  <a (click)="logout()" *ngIf="signedIn">Sign out</a>
</nav>
</section>
<router-outlet></router-outlet>