h1 {
  font-size: 1.2em;
  color: white;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  color:white;
}


nav a {
  text-decoration: none;
  margin-right: 5px;
  display: inline-block;
  color: black;
  background-color: #eee;
  border-radius: 4px;
}
/* nav a:visited, a:link {
  color: #607D8B;
} */
nav a button {
  color: gray;
}

nav a button:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

button:focus {
  color: black;
  outline:0;
}

nav a.active {
  color: black;
  background-color: white;
}