.col-sm-6 > .col-sm-12{
    /* margin: 4px; */
    
    display: inline-flex;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 0px;
    /* display: flex; */
}

.col-sm-12 > span {
    font-size: 12px;
}

.col-sm-6 {
    border-width: 2px;
    border-style: solid;
}

.col-sm-11{
    padding:0px;
    width: 100%;
    display: inline-flex;

    text-align: center;
}

.col-sm-1{
    padding:0px;
    width: 100%;
    display: inline-flex;
    text-align: center;
}

mat-card {
    margin: 5px;
    border: solid rgb(202, 198, 198) 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

mat-icon {
    display: inline-flex;
    vertical-align: middle;
}

.firestore{
    border-color: #262f3d;
}

.blockchain{
    border-color: rgb(51, 138, 153);
}