<div class="container">
  <mat-card>

    <div class="row">
      <div class="col-sm-6 blockchain">
        <h4 style="color: rgb(51, 138, 153);">Blockchain</h4>
        <div class="col-sm-12">
          <span>
            <mat-icon>fingerprint</mat-icon>
            {{blockchainWork.fingerprint}}</span>
        </div>
        <div class="col-sm-12" *ngIf="blockchainWork.approvedStatus">
          <mat-icon>check</mat-icon>
          Approved by contributors
        </div>
        <div class="col-sm-12" *ngIf="!blockchainWork.approvedStatus">
          <mat-icon>close</mat-icon>
          Not approved by contributors
        </div>
        <div class="col-sm-12">
          <mat-icon>date_range</mat-icon>
          {{blockchainWork.birthTime | date:'full'}}
        </div>

        <div *ngIf="blockchainWork.approvedStatus; else dontShowContributors">
          <div *ngFor="let contributor of contributors">
            <mat-card class="contCard">
              <div class="row">
                <div class="col-sm-11">
                  <mat-icon>person</mat-icon>
                  {{contributor.address}}
                </div>
                <div class="col-sm-1">
                  <mat-icon style="color: rgb(212, 199, 14)">fiber_manual_record</mat-icon>
                  {{contributor.split}}
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="col-sm-6 firestore" *ngIf="firestoreWork as work">
        <mat-spinner *ngIf="spin"></mat-spinner>
        <h4 style="color: #262f3d;">Firestore</h4>
        <div class="col-sm-12">
          <span>
            <mat-icon>fingerprint</mat-icon>
            {{firestoreWork.fingerprint}}</span>
        </div>
        <div class="col-sm-12">
          <mat-icon>grade</mat-icon>
          {{firestoreWork.title}}
        </div>
        <div class="col-sm-12">
          <mat-icon>description</mat-icon>
          {{firestoreWork.description}}
        </div>
        <div class="col-sm-12">
          <mat-icon>music_note</mat-icon>
          {{firestoreWork.typeOfWork}}
        </div>
        <div class="col-sm-12">
          <mat-icon>cloud_upload</mat-icon>
          {{firestoreWork.uploadedBy}}
        </div>
        <div class="col-sm-12" *ngIf="!blockchainWork.approvedStatus" style="color: red">
          <mat-icon>warning</mat-icon>
          Suggested contributors and splits
        </div>
        <div *ngFor="let contributor of firestoreWork.contributors">
          <mat-card class="contCard">
            <div class="row">
              <div class="col-sm-6" style="padding: 0px; border-width: 1px">
                <mat-icon>face</mat-icon>
                {{contributor.name}}
              </div>
              <div class="col-sm-6" style="padding: 0px; border-width: 1px">
                <mat-icon>assignment_ind</mat-icon>
                {{contributor.role}}
              </div>
              <div class="col-sm-11">
                <mat-icon>person</mat-icon>
                {{contributor.address}}
              </div>
              <div class="col-sm-1">
                <mat-icon style="color: rgb(212, 199, 14)">fiber_manual_record</mat-icon>
                {{(contributor.share)/10}}
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="licenseProfiles?.length > 0">
      <mat-divider></mat-divider>
      <br>
      <h4>License Profiles for this work</h4>
      <mat-accordion>
        <div *ngFor="let profile of licenseProfiles">

          <mat-expansion-panel (click)=onLicensePanelClick(profile.licenseProfileId)>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Profile Type: {{profile.typeOfLicense}}
              </mat-panel-title>
            </mat-expansion-panel-header>



            <h5>Blockchain Info</h5>
            <br>

            <div class="col-sm-12">
              <mat-icon>date_range</mat-icon>{{blockchainLicenseProfile.birthTime | date:'full'}}
            </div>
            <br>

            <div class="col-sm-12">
              <mat-icon>fingerprint</mat-icon>
              {{blockchainLicenseProfile.fingerprint}}
            </div>
            <br>

            <div class="col-sm-12">
              <mat-icon>attach_money</mat-icon>{{blockchainLicenseProfile.price}} WEI/ETH
            </div>
            <br>

            <div class="col-sm-12" *ngIf="blockchainLicenseProfile.activatedStatus">
              <mat-icon>check</mat-icon> Approved by over 50% of tokenHolders
            </div>
            

            <div class="col-sm-12" *ngIf="!blockchainLicenseProfile.activatedStatus">
              <mat-icon>close</mat-icon> Not approved by over 50% of tokenHolders
            </div>
            <br>



            <h5>Firebase Info</h5>
            <br> fingerprint: {{profile.fingerprint}}
            <br> description: {{profile.description}}
            <br> uploaded by: {{profile.uploadedBy}}
            <br> download link: TBA
            <br><br>

            <div class="col-sm-12" *ngIf="blockchainLicenseProfile.activatedStatus">
              <button class="button is-medium is-primary" (click)="buyLicenseProfile(user.ethereumAddress, profile.licenseProfileId, blockchainLicenseProfile.price)">Buy License</button>

            </div>
            <br>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>



  </mat-card>
</div>


<ng-template #dontShowContributors>
  <div class="col-sm-12">
    <mat-icon>error</mat-icon>
    No tokens given - Waiting for approval by all shareholders.
  </div>
</ng-template>