<div class="container">
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="createForm">
        <mat-form-field appearance="outline" class="titleWork">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text" name="title" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="typeSelect">
              <mat-select formControlName="typeOfWork" placeholder="Type of work" name="type" required>
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
          <mat-form-field appearance="outline" class="description">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" type="text" name="description" required></textarea>
            </mat-form-field>
      
      <div formArrayName="contributorRows">
        <div *ngFor="let row of createForm.controls.contributorRows.controls; let i=index" [formGroupName]="i">
          <mat-card class="contCard">
            <p class="cardHeader">Contributor {{ i + 1 }}
            <button *ngIf="createForm.controls.contributorRows.controls.length > 1" (click)="deleteContributorRow(i)" class="delRow button is-small is-danger">X</button></p>
            <div class="row">
              <!-- <div class="form-group column">
                <mat-icon style="color: grey; position: relative; top: 10px; font-size: 40px">cake</mat-icon>
              </div> -->
              <div class="form-group column">
                <mat-slider formControlName="share" color="primary" [min]="min" [max]="max" [value]="50" tickInterval="10" step="10" #slider required>
                </mat-slider>
                <mat-hint style="font-size: 14px; color: black;"> {{slider.value}} %</mat-hint>
              </div>
              <div class="form-group column">
                <mat-form-field class="ethereumAddress" appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="address" type="text" name="contributors" required>
                </mat-form-field>
              </div>
              <div class="form-group column">
                <mat-form-field appearance="outline">
                  <mat-label>contributed as...</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option *ngFor="let role of contributorTypes" [value]="role">{{role}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
          <br>
        </div>
        <button type="button" (click)="addNewContributorRow()" class="button is-small is-info" style="margin:10px; margin-left:0px;">Add contributor</button>
        <br>
      </div>

      <file-upload (uploaded)="onUploadComplete($event)"></file-upload>

      <mat-form-field class="description" appearance="outline">
          <mat-label>Fingerprint (md5-hash of uploaded file)</mat-label>
          <input matInput formControlName="fingerprint" name="fingerprint" disabled [(ngModel)]="fingerprintDisplay" required>
        </mat-form-field>
      <div class="field is-grouped">
        <p class="control">
          <button type="submit" [disabled]="!createForm.valid" class="button is-medium is-primary">
            Create
          </button>
        </p>
      </div>
    </form>
    <br>
    <h2 class="title is-4 is-info help">Status: {{status}}</h2>
    <a *ngIf="workCreated" href="/work/{{workId}}">View work</a>
  </mat-card>
</div>