mat-slider {
    width: 200px;
    padding: 0px;
    margin: 0px;
}

.contCard {
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    display: inline-block;
    border-radius: 4px;
    /* background-color: yellow; */
}

.cardHeader {
    background-color:#3f51b5; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    padding-top: 4px; 
    padding-left: 12px; 
    padding-bottom: 4px; 
    font-weight:bold
}

mat-form-field{
    margin: 5px;
    width: inherit;
}

.ethereumAddress{
    width: 500px;
}

.delRow {
    float: right;
}

.column
{
    display: table-cell;
    padding: 0px;
    /* background-color: red;  */
}
.row {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }