<div class="container">
        <div class="content">

                <mat-form-field class="search" appearance="standard">
                        <input matInput class="searchField" placeholder="search among our {{totalWorkNumberBlockchain}} works..." (keydown)="search($event)"
                                aria-label="work" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let work of works" [value]="work.title" routerLink="/work/{{work.workId}}">
                                        {{work.title}}
                                </mat-option>
                        </mat-autocomplete>
                </mat-form-field>

        </div>

</div>